<div class="row">
  <div class="col-md-5 mx-auto">
    <h2 class="mb-4"><%= t(".title") %></h2>

    <%= render '/users/form' %>
  </div>
</div>

<script>
  $('#user_time_zone').val(jstz.determine().name());
</script>
