@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff2") format('woff2'), /* Super Modern Browsers */
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff") format('woff'), /* Modern Browsers */
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.ttf") format('truetype'), /* Safari, Android, iOS */
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.svg#Montserrat") format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-500.eot"); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-500.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-500.woff2") format('woff2'), /* Super Modern Browsers */
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-500.woff") format('woff'), /* Modern Browsers */
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-500.ttf") format('truetype'), /* Safari, Android, iOS */
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-500.svg#Montserrat") format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-600.eot"); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-600.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-600.woff2") format('woff2'), /* Super Modern Browsers */
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-600.woff") format('woff'), /* Modern Browsers */
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-600.ttf") format('truetype'), /* Safari, Android, iOS */
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-600.svg#Montserrat") format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-700.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-700.woff2") format('woff2'), /* Super Modern Browsers */
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-700.woff") format('woff'), /* Modern Browsers */
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-700.ttf") format('truetype'), /* Safari, Android, iOS */
       url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-700.svg#Montserrat") format('svg'); /* Legacy iOS */
}
