@font-face {
  font-family: "iconly";
  src: url('../images/fonts/iconly/iconly.eot');
  src: url('../images/fonts/iconly/iconly.eot?#iefix') format("embedded-opentype"),
       url('../images/fonts/iconly/iconly.woff') format("woff"),
       url('../images/fonts/iconly/iconly.ttf') format("truetype"),
       url('../images/fonts/iconly/iconly.svg#iconly') format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before { content: attr(data-icon); }

.glyphicon-chevron-left,
.glyphicon-chevron-right,
[data-icon]:before,
.iconly-0014-pencil:before,
.iconly-0119-hammer-wrench:before,
.iconly-0129-trash:before,
.iconly-0277-book2:before,
.iconly-0287-user:before,
.iconly-0303-hand-waving:before,
.iconly-0394-calendar-full:before,
.iconly-0506-pie-chart2:before,
.iconly-0651-smile:before,
.iconly-0741-history2:before,
.iconly-0750-alarm-check:before,
.iconly-0821-check:before,
.iconly-0823-plus:before,
.iconly-0827-chevron-down:before,
.iconly-0828-chevron-left:before,
.iconly-0829-chevron-right:before,
.iconly-0866-arrow-right-circle:before,
.iconly-0874-stop-circle:before,
.iconly-0875-play-circle:before,
.iconly-1002-ellipsis:before {
  display: inline-block;
  font-family: "iconly";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.iconly-0014-pencil:before { content: "\f140"; }
.iconly-0119-hammer-wrench:before { content: "\f141"; }
.iconly-0129-trash:before { content: "\f142"; }
.iconly-0277-book2:before { content: "\f143"; }
.iconly-0287-user:before { content: "\f104"; }
.iconly-0303-hand-waving:before { content: "\f144"; }
.iconly-0394-calendar-full:before { content: "\f145"; }
.iconly-0506-pie-chart2:before { content: "\f146"; }
.iconly-0651-smile:before { content: "\f147"; }
.iconly-0741-history2:before { content: "\f148"; }
.iconly-0750-alarm-check:before { content: "\f149"; }
.iconly-0821-check:before { content: "\f13b"; }
.iconly-0823-plus:before { content: "\f14a"; }
.iconly-0827-chevron-down:before { content: "\f14b"; }
.iconly-0828-chevron-left:before { content: "\f14c"; }
.iconly-0829-chevron-right:before { content: "\f14d"; }
.iconly-0866-arrow-right-circle:before { content: "\f14e"; }
.iconly-0874-stop-circle:before { content: "\f14f"; }
.iconly-0875-play-circle:before { content: "\f150"; }
.iconly-1002-ellipsis:before { content: "\f151"; }

.glyphicon-chevron-left:before { content: "\f14c"; }
.glyphicon-chevron-right:before { content: "\f14d"; }
