<ul class="nav flex-column mt-md-2">
  <li class="nav-item">
    <%= nav_link 'Timer', timer_index_path, :timer, 'iconly-0741-history2' %>
  </li>
  <li class="nav-item">
    <%= nav_link 'Add slot', new_manual_slot_path, :manual, 'iconly-0823-plus' %>
  </li>
  <li class="nav-item">
    <%= nav_link 'Reports', reports_path, :reports, 'iconly-0506-pie-chart2' %>
  </li>
  <li class="nav-item">
    <%= nav_link 'Projects', projects_path, :projects, 'iconly-0277-book2' %>
  </li>
</ul>
